@font-face
{
    font-family:'Susanna';
    src: url(./Police/Susanna.otf);
}
@font-face
{
    font-family:'Calibri Light';
    src: url(./Police/calibril.ttf);
}

/*START CSS RYAN*/
body
{
	width:100%;
	margin:0;
    background-color: #333;

} 

#h1_first 
{
	font-family:Susanna;
	margin-top:40px;
	margin-bottom:auto;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_first
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*Bloc présentation de l'agence*/											

.bloc_intro 
{
margin-right: auto;
margin-top:50px;
margin-left: auto;
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
width: 55%;
clear: both;
position: relative;
overflow: hidden;
}	


.bloc_text
{
	margin:auto;
    float:right;
    position:relative;

}

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
}

#map
{
	margin:0;
	width:290px;
	
}

#map_asia
{
    float:left;
}
/*SECOND BLOC*/

.second_boite
{
	width: 65%;
    overflow: hidden;
    padding-top:20px;
	margin-top:50px;
	margin-right: auto;
    margin-left: auto;
}

.all_images
{
	position: relative;
    text-align: center;
    color: white;
}

.ile_kophiphi
{
	position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
	font-weight:bold;
	color:white;
	top:65%;
	left: 12%;
}

.riziere_vietnam{
    position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
    top: 15%;
    left: 12%;
	font-weight:bold;
	color:white;
}

.montagne_tibet
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
	top: 20%;
    left: 50%;
	color:white;
	font-weight:bold;
}

.miyajima_japon
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
    top:65%;
	left: 59%;
	color:white;
	font-weight:bold;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover{
	transition:0.5s;
	opacity:0.4;
}

#h1_second
{
	font-family:Susanna;
	font-weight:;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}
	
#h2_second
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*3ME BLOC */
	
#h1_third
{
	font-family:Susanna;
	font-weight:px;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_third
{
		font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

.third_bloc
{
	margin-top:50px;
	margin-bottom:50px;
}


#luang_img
{
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	height: 680px;
}

#luang_img:hover
{
	transition:0.5s;
	opacity:0.4;
}

.boite_exposition {
    position: relative; 
	text-align: center;
}

.Luang /*Le texte qui est sur l'image*/
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family:Susanna;
	text-transform:uppercase;
	font-size:6em;
	font-weight:bold;
	color:white;
}

/*Propriétés des images*/					

img 
{
    max-width: 100%;
    height: auto;
}


#img1,#img2,#img3
{
	height:350px;
	position:relative;
}

#img4
{
	width: 518.313;
	height:350;
}

#ligne_coupure
{
	width:200px;
}

/*Tous les paragraphes*/

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
	color:gainsboro;
}

/*Propriétés des différents blocs qui occupent la place du site*/

.bloc_text, .espace, .first_boite, .image_line, div, .bloc_image
{
	display:block;
}

.pardon
{
    margin-top: 530px;
}

                                                        /* Bare de navigation */

nav ul {
    list-style-type: none;
    font-family:Calibri Light;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    margin-left: 10px;
}

nav ul li img{
    margin-left: 5px;
    margin-top: 3px;
    width: 40px;
    height: 40px;
}

nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

nav li.dropdown {
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .dropdown-content a:hover {
    background-color: #f1f1f1
}

nav .dropdown:hover .dropdown-content {
    display: block;
}
nav ul .seconnecter img{
    
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: -5px;
}
nav ul .seconnecter {
    float: right;
}
nav .handle{
    width: 100%;
    background: #005c78;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    color: white;
    display: none;
}

                                                            /* Slideshow */
@keyframes slider {
0% {left: 0;}
15% {left: 0;}
30% {left: -100%;}
45% {left: -100%;}
60% {left: -200%;}
75% {left: -200%;}
100% {left: 0;}
}

#slider {
	overflow: hidden;
	
}

#slider figure img {
	width: 20%;
	float: left;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 30s slider infinite; 
}

                                                     
                                                                /* Logo */
#logo-centre{ 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -43%;
    text-align: center;
}
#logo-centre img{
    width: 70x; 
    height : 70px;
}
                                                                /* Text-logo */
#txt-logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    font-family: Susanna, sans-serif;
    color: white;
}
                                                                /* Text border */
.caption {
    position: relative;
    max-width: 1140px;
    margin: 0px auto;
    left: 0;
    text-align: center;
    right: 0;
}

.caption a {
    font-size: 16px;
    color: #FD5555;
    border: 4px solid #fff;
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: Calibri Light, sans-serif;
    letter-spacing: 3px;
    margin: 20px 5px 0 5px;
	 background-color: #fff;
}

.caption .hightlight {
    background-color: #fff;
    color: #333;
}
                                                            
                                   							/*END BIG SCREEN*/






                                                		/*@media phone*/
@media screen and (max-width: 480px) {


body
{
	width:100%;
	margin:0;


} 

#h1_first 
{
	font-family:Susanna;
	margin-top:40px;
	margin-bottom:auto;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_first
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*Bloc présentation de l'agence*/											

.bloc_intro 
{
margin-right: auto;
margin-top:50px;
margin-left: auto;
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
width: 55%;
clear: both;
position: relative;
overflow: hidden;
}	


.bloc_text
{
	margin:auto;
	padding-left: 15px;
    padding-right: 15px;
    float:right;
    position:relative;

}

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
}

#map
{
	margin-left:0px;
	float:left;
}

/*SECOND BLOC*/

.second_boite
{
	width: 65%;
    overflow: hidden;
    padding-top:20px;
	margin-top:50px;
	margin-right: auto;
    margin-left: auto;
}

.all_images
{
	position: relative;
    text-align: center;
    color: white;
}
    



#img1,#img2,#img3
{
	height:300px;
	position:relative;
}

#img4
{
	width: 518.313;
	height:350;
}


.ile_kophiphi
{
	position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
	font-weight:bold;
	color:white;
	top:52%;
	left: 3%;
}

.riziere_vietnam{
    position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
    top: 5%;
    left: 7%;
	font-weight:bold;
	color:white;
}

.montagne_tibet
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
	top: 30%;
    left: 2%;
	color:white;
	font-weight:bold;
}

.miyajima_japon
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
    top:80%;
	left: 2%;
	color:white;
	font-weight:bold;
}

#h1_second
{
	font-family:Susanna;
	font-weight:;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}
	
#h2_second
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*3ME BLOC */
	
#h1_third
{
	font-family:Susanna;
	font-weight:px;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_third
{
		font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

.third_bloc
{
	margin-top:50px;
	margin-bottom:50px;
    position: relative;
    width:100%;
}


#luang_img
{
	position:relative;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}


.boite_exposition {
    position: relative; 
	text-align: center;
}

.Luang /*Le texte qui est sur l'image*/
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family:Susanna;
	text-transform:uppercase;
	font-size:6em;
	font-weight:bold;
	color:white;
}

/*Propriétés des images*/					


#ligne_coupure
{
	width:200px;
}

/*Tous les paragraphes*/

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
	color:  ;
}
    
.bloc_text, .espace, .first_boite, .image_line, div, .bloc_image
{
	display:block;
}

.pardon
    {
        margin-top:100px;    
    }
                                 /* Bare de navigation */
    nav ul li {
        width: 100%;
        padding: 3px;
        text-align: center;
        margin-top: -10px;

    }
    nav li.seconnecter{
        margin-right: -15px;
    }
    nav ul li img{
        display: none;
    }
    nav .dropdown-content{
        margin-left: 59%;
        margin-top: -46px
    }

                                             /* Logo */
    #logo-centre img{
        display: none;
    }
                                          /* Text-logo */
    #txt-logo{
        font-size: 1em;
        top: -10px;
        margin-left: 10px;
        color: aliceblue;
        font-family: Susanna,sans-serif;
    }
                                         /* Text border */
    .caption{
        position: relative;
        
        margin-top: 160px;         
    }
    .caption a {
    font-size: 9px;
    color: #333;
    border: 4px solid black;
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: fantasy, sans-serif;
    letter-spacing: 3px;
    margin: 20px 5px 0 5px;
    }
                                         
}

                                                			/*END PHONE*/

                                                    /* @media tablete */

@media (min-width: 481px) and (max-width: 559px) {

body
{
	width:100%;
	margin:0;
} 

.pardon
    {
        margin-top: 400px;
    }
#h1_first 
{
	font-family:Susanna;
	margin-top:40px;
	margin-bottom:auto;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_first
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*Bloc présentation de l'agence*/											

.bloc_intro 
{
margin-right: auto;
margin-top:50px;
margin-left: auto;
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
width: 55%;
clear: both;
position: relative;
overflow: hidden;
}	


.bloc_text
{
	margin:auto;
	padding-left: 15px;
    padding-right: 15px;
    float:right;
    position:relative;

}

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
}

#map
{
	margin-left:0px;
	float:left;
}

/*SECOND BLOC*/

.second_boite
{
	width: 65%;
    overflow: hidden;
    padding-top:20px;
	margin-top:50px;
	margin-right: auto;
    margin-left: auto;
}

.all_images
{
	position: relative;
    text-align: center;
    color: white;
}
    



#img1,#img2,#img3
{
	height:300px;
	position:relative;
}

#img4
{
	width: 518.313;
	height:350;
}


.ile_kophiphi
{
	position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
	font-weight:bold;
	color:white;
	top:52%;
	left: 3%;
}

.riziere_vietnam{
    position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
    top: 5%;
    left: 7%;
	font-weight:bold;
	color:white;
}

.montagne_tibet
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
	top: 30%;
    left: 2%;
	color:white;
	font-weight:bold;
}

.miyajima_japon
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
    top:80%;
	left: 2%;
	color:white;
	font-weight:bold;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover{
	transition:0.5s;
	opacity:0.4;
}

#h1_second
{
	font-family:Susanna;
	font-weight:;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}
	
#h2_second
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*3ME BLOC */
	
#h1_third
{
	font-family:Susanna;
	font-weight:px;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_third
{
		font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

.third_bloc
{
	margin-top:50px;
	margin-bottom:50px;
    position: relative;
    width:100%;
}


#luang_img
{
	position:relative;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#luang_img:hover
{
	transition:0.5s;
	opacity:0.5;
}

.boite_exposition {
    position: relative; 
	text-align: center;
}

.Luang /*Le texte qui est sur l'image*/
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family:Susanna;
	text-transform:uppercase;
	font-size:6em;
	font-weight:bold;
	color:white;
}

/*Propriétés des images*/					


#ligne_coupure
{
	width:200px;
}

/*Tous les paragraphes*/

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
	color:  ;
}

/*Propriétés des différents blocs qui occupent la place du site*/

.bloc_text, .espace, .first_boite, .image_line, div, .bloc_image
{
	display:block;
}
    
/* Bare de navigation */
 nav ul li {
        width: 100%;	
        padding: 3px;
        text-align: center;
        margin-top: -10px;
}
nav li.seconnecter{
    margin-right: -15px;
}
nav ul li img{
    display: none;
}
nav .dropdown-content{
   margin-left: 59%;
   margin-top: -46px
}

                                                            /* Slideshow */
@keyframes slider {
0% {left: 0;}
15% {left: 0;}
30% {left: -100%;}
45% {left: -100%;}
60% {left: -200%;}
75% {left: -200%;}
100% {left: 0;}
}

#slider {
	overflow: hidden;
	
}

#slider figure img {
	width: 20%;
	float: left;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 40s slider infinite; 
}

                                                     
                                                                /* Logo */
#logo-centre{ 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top : -10px;
    text-align: center;
}
#logo-centre img{
    width: 40x; 
    height : 40px;
    display : none;
}
                                                                /* Text-logo */
#txt-logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-family: Susanna, sans-serif;
    color: aliceblue;
    letter-spacing: 5px;
}
                                                                /* Text border */
.caption {
    position: absolute;
    max-width: 1140px;
    margin: 0px auto;
    left: 0;
    text-align: center;
    right: 0;
    top: 70%;
}

.caption a {
    font-size: 8px;
    border: 3px solid black;
    display: inline-block;
    padding: 4px 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: fantasy, sans-serif;
    letter-spacing: 3px;
    margin: 5px 5px 0 5px;
}
.caption .popup-mondal{
	 color: black;
}

.caption .hightlight {
    background-color: #fff;
    color: #333;
}
}
																		/*END MEDIA TABLETE*/
                                                	/* @media pcportable */

@media (min-width: 560px) and (max-width: 800px) {
body
{
	width:100%;
	margin:0;
} 

.pardon
    {
        margin-top:100px;
    }
#h1_first 
{
	font-family:Susanna;
	margin-top:40px;
	margin-bottom:auto;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_first
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*Bloc présentation de l'agence*/											

.bloc_intro 
{
margin-right: auto;
margin-top:50px;
margin-left: auto;
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
width: 55%;
clear: both;
position: relative;
overflow: hidden;
}	


.bloc_text
{
	margin:auto;
	padding-left: 15px;
    padding-right: 15px;
    float:right;
    position:relative;

}

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
}

#map
{
	margin-left:35px;
	float:left;
}

/*SECOND BLOC*/

.second_boite
{
	width: 65%;
    overflow: hidden;
    padding-top:20px;
	margin-top:50px;
	margin-right: auto;
    margin-left: auto;
}

.all_images
{
	position: relative;
    text-align: center;
    color: white;
}
    



#img1,#img2,#img3
{
	height:300px;
	position:relative;
}

#img4
{
	width: 518.313;
	height:350;
}


.ile_kophiphi
{
	position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
	font-weight:bold;
	color:white;
	top:52%;
	left: 12%;
}

.riziere_vietnam{
    position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
    top: 5%;
    left: 17%;
	font-weight:bold;
	color:white;
}

.montagne_tibet
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
	top: 30%;
    left: 2%;
	color:white;
	font-weight:bold;
}

.miyajima_japon
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
    top:80%;
	left: 2%;
	color:white;
	font-weight:bold;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover{
	transition:0.5s;
	opacity:0.4;
}

#h1_second
{
	font-family:Susanna;
	font-weight:;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}
	
#h2_second
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*3ME BLOC */
	
#h1_third
{
	font-family:Susanna;
	font-weight:px;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_third
{
		font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

.third_bloc
{
	margin-top:50px;
	margin-bottom:50px;
    position: relative;
    width:100%;
}


#luang_img
{
	position:relative;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#luang_img:hover
{
	transition:0.5s;
	opacity:0.5;
}

.boite_exposition {
    position: relative; 
	text-align: center;
}

.Luang /*Le texte qui est sur l'image*/
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family:Susanna;
	text-transform:uppercase;
	font-size:6em;
	font-weight:bold;
	color:white;
}

/*Propriétés des images*/					


#ligne_coupure
{
	width:200px;
}

/*Tous les paragraphes*/

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
	color:  ;
}

/*Propriétés des différents blocs qui occupent la place du site*/

.bloc_text, .espace, .first_boite, .image_line, div, .bloc_image
{
	display:block;
}
 nav ul li {
	  width: 100%;	
	  padding: 3px;
	  text-align: center;
	  margin-top: -10px;

 }
 nav li.seconnecter{
	  margin-right: -15px;
 }
 nav ul li img{
	  display: none;
 }
 nav .dropdown-content{
	  margin-left: 59%;
	  margin-top: -46px
 }

																				/* Logo */
 #logo-centre img{
	  display: none;
 }
																			/* Text-logo */
 #txt-logo{
	  font-size: 10px;
	  top: -10px;
	  margin-left: 10px;
	  color: aliceblue;
	  font-family: sans-serif;
 }
																			/* Text border */
 .caption{
	  position: relative;
	  margin-top: 160px;         
 }
.caption a {
	 font-size: 9px;
	 color: #333;
	 border: 4px solid black;
	 display: inline-block;
	 padding: 8px 20px;
	 text-align: center;
	 text-transform: uppercase;
	 font-family: fantasy, sans-serif;
	 letter-spacing: 3px;
	 margin: 20px 5px 0 5px;
}
.caption .popup-mondal{
	 color: #FD5555;
}

}

                                                    /*END PC PORTABLE*/

@media (min-width: 801px) and (max-width: 1209px) {
body
{
	width:100%;
	margin:0;
} 

.pardon
    {
        margin-top:170px;
    }
#h1_first 
{
	font-family:Susanna;
	margin-top:40px;
	margin-bottom:auto;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_first
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*Bloc présentation de l'agence*/											

.bloc_intro 
{
margin-right: auto;
margin-top:50px;
margin-left: auto;
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
width: 55%;
clear: both;
position: relative;
overflow: hidden;
}	


.bloc_text
{
	margin:auto;
	padding-left: 15px;
    padding-right: 15px;
    float:right;
    position:relative;

}

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
}

#map
{
	margin-left:35px;
	float:left;
}

/*SECOND BLOC*/

.second_boite
{
    overflow: hidden;
    padding-top:20px;
	margin-top:50px;
	margin-right: auto;
    margin-left: auto;
}

.all_images
{
	position: relative;
    width: 550px;
    text-align: center;
    color: white;
}
    


#img1
{
    height: 350px;
}

#img2,#img3,#img4
{
    height: 350px;
    width: 570px;
}

.ile_kophiphi
{
	position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
	font-weight:bold;
	color:white;
	top:57%;
	left: 12%;
}

.riziere_vietnam{
    position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
    top: 7%;
    left: 22%;
	font-weight:bold;
	color:white;
}

.montagne_tibet
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
	top: 33%;
    left: 2%;
	color:white;
	font-weight:bold;
}

.miyajima_japon
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
    top:83%;
	left: 2%;
	color:white;
	font-weight:bold;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover{
	transition:0.5s;
	opacity:0.4;
}

#h1_second
{
	font-family:Susanna;
	font-weight:;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}
	
#h2_second
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*3ME BLOC */
	
#h1_third
{
	font-family:Susanna;
	font-weight:px;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_third
{
		font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

.third_bloc
{
	margin-top:50px;
	margin-bottom:50px;
    position: relative;
    width:100%;
}


#luang_img
{
	position:relative;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#luang_img:hover
{
	transition:0.5s;
	opacity:0.5;
}

.boite_exposition {
    position: relative; 
	text-align: center;
}

.Luang /*Le texte qui est sur l'image*/
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family:Susanna;
	text-transform:uppercase;
	font-size:6em;
	font-weight:bold;
	color:white;
}

/*Propriétés des images*/					


#ligne_coupure
{
	width:200px;
}

/*Tous les paragraphes*/

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
	color:  ;
}

/*Propriétés des différents blocs qui occupent la place du site*/

.bloc_text, .espace, .first_boite, .image_line, div, .bloc_image
{
	display:block;
}
}

@media (min-width: 1210px) and (max-width: 1788px) {
body
{
	width:100%;
	margin:0;
} 

.pardon
    {
        margin-top:410px;
    }
#h1_first 
{
	font-family:Susanna;
	margin-top:40px;
	margin-bottom:auto;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_first
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*Bloc présentation de l'agence*/											

.bloc_intro 
{
margin-right: auto;
margin-top:50px;
margin-left: auto;
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
width: 1000px;
clear: both;
position: relative;
overflow: hidden;
}	


.bloc_text
{
	margin:auto;
    float:right;
    position:relative;

}

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
}

#map
{
	margin:0;
	width:290px;
   float: left;
}

/*SECOND BLOC*/

.second_boite
{
	width: 1200px;
    overflow: hidden;
    padding-top:20px;
	margin-top:50px;
	margin-right: auto;
    margin-left: auto;
}

.all_images
{
	position: relative;
    text-align: center;
    color: white;
}

.ile_kophiphi
{
	position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
	font-weight:bold;
	color:white;
	top: 65%;
    left: 14%;
}

.riziere_vietnam{
    position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
    top: 15%;
    left: 12%;
	font-weight:bold;
	color:white;
}

.montagne_tibet
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
    top: 18%;
    left: 50%;
	color:white;
	font-weight:bold;
}

.miyajima_japon
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
    top: 69%;
    left: 57%;
	color:white;
	font-weight:bold;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover{
	transition:0.5s;
	opacity:0.4;
}

#h1_second
{
	font-family:Susanna;
	font-weight:;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}
	
#h2_second
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*3ME BLOC */
	
#h1_third
{
	font-family:Susanna;
	font-weight:px;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 60px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_third
{
		font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

.third_bloc
{
	margin-top:50px;
	margin-bottom:50px;
}


#luang_img
{
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	height: 680px;
}

#luang_img:hover
{
	transition:0.5s;
	opacity:0.5;
}

.boite_exposition {
    position: relative; 
	text-align: center;
}

.Luang /*Le texte qui est sur l'image*/
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family:Susanna;
	text-transform:uppercase;
	font-size:6em;
	font-weight:bold;
	color:white;
}

/*Propriétés des images*/					

img 
{
    max-width: 100%;
    height: auto;
}


#img1,#img2,#img3,#img4
{
	height:350px;
	position:relative;
}  


#ligne_coupure
{
	width:200px;
}

/*Tous les paragraphes*/

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
	color:  ;
}

/*Propriétés des différents blocs qui occupent la place du site*/

.bloc_text, .espace, .first_boite, .image_line, div, .bloc_image
{
	display:block;
}
}

@media (min-width: 1789px) and (max-width: 1842px) {
        

body
{
	width:100%;
	margin:0;
} 

#h1_first 
{
	font-family:Susanna;
	margin-top:40px;
	margin-bottom:auto;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_first
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*Bloc présentation de l'agence*/											

.bloc_intro 
{
margin-right: auto;
margin-top:50px;
margin-left: auto;
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
width: 1000px;
clear: both;
position: relative;
overflow: hidden;
}	


.bloc_text
{
	margin:auto;
    float:right;
    position:relative;

}

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
}

#map
{
	margin:0;
	width:290px;
	float:left;
}

/*SECOND BLOC*/

.second_boite
{
	width: 1200px;
    overflow: hidden;
    padding-top:20px;
	margin-top:50px;
	margin-right: auto;
    margin-left: auto;
}

.all_images
{
	position: relative;
    text-align: center;
    color: white;
}

    .ile_kophiphi
{
	position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
	font-weight:bold;
	color:white;
	top: 65%;
    left: 13%;
}

.riziere_vietnam{
    position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
    top: 15%;
    left: 12%;
	font-weight:bold;
	color:white;
}

.montagne_tibet
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
    top: 18%;
    left: 50%;
	color:white;
	font-weight:bold;
}

.miyajima_japon
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
    top: 69%;
    left: 57%;
	color:white;
	font-weight:bold;
}


#img1:hover, #img2:hover, #img3:hover, #img4:hover{
	transition:0.5s;
	opacity:0.4;
}

#h1_second
{
	font-family:Susanna;
	font-weight:;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}
	
#h2_second
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*3ME BLOC */
	
#h1_third
{
	font-family:Susanna;
	font-weight:px;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_third
{
		font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

.third_bloc
{
	margin-top:50px;
	margin-bottom:50px;
}


#luang_img
{
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	height: 680px;
}

#luang_img:hover
{
	transition:0.5s;
	opacity:0.5;
}

.boite_exposition {
    position: relative; 
	text-align: center;
}

.Luang /*Le texte qui est sur l'image*/
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family:Susanna;
	text-transform:uppercase;
	font-size:6em;
	font-weight:bold;
	color:white;
}

/*Propriétés des images*/					

img 
{
    max-width: 100%;
    height: auto;
}

#img1,#img2,#img3,#img4
{
	height:350px;
	position:relative;
} 
    
#ligne_coupure
{
	width:200px;
}

/*Tous les paragraphes*/

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
	color:  ;
}

/*Propriétés des différents blocs qui occupent la place du site*/

.bloc_text, .espace, .first_boite, .image_line, div, .bloc_image
{
	display:block;
}
}

@media (min-width: 1843px) and (max-width: 1843px) {
body
{
	width:100%;
	margin:0;


} 

#h1_first 
{
	font-family:Susanna;
	margin-top:40px;
	margin-bottom:auto;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_first
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*Bloc présentation de l'agence*/											

.bloc_intro 
{
margin-right: auto;
margin-top:50px;
margin-left: auto;
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
width: 55%;
clear: both;
position: relative;
overflow: hidden;
}	


.bloc_text
{
	margin:auto;
	padding-left: 15px;
    padding-right: 15px;
    float:right;
    position:relative;

}

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
}

#map
{
	margin:0;
	width:290px;
	float:left;
}

/*SECOND BLOC*/

.second_boite
{
	width: 65%;
    overflow: hidden;
    padding-top:20px;
	margin-top:50px;
	margin-right: auto;
    margin-left: auto;
}

.all_images
{
	position: relative;
    text-align: center;
    color: white;
    height:700px;
}

.ile_kophiphi
{
	position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
	font-weight:bold;
	color:#34495E;
    top: 65%;
	left: 12%;
}

.riziere_vietnam{
    position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
    top: 15%;
    left: 10%;
	font-weight:bold;
	color:white;
}

.montagne_tibet
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
	top: 20%;
    left: 50%;
	color:white;
	font-weight:bold;
}

.miyajima_japon
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
    top: 65%;
	left: 59%;
	color:white;
	font-weight:bold;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover{
	transition:0.5s;
	opacity:0.4;
}

#h1_second
{
	font-family:Susanna;
	font-weight:;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}
	
#h2_second
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*3ME BLOC */
	
#h1_third
{
	font-family:Susanna;
	font-weight:px;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_third
{
		font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

.third_bloc
{
	margin-top:50px;
	margin-bottom:50px;
}


#luang_img
{
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	height: 680px;
}

#luang_img:hover
{
	transition:0.5s;
	opacity:0.5;
}

.boite_exposition {
    position: relative; 
	text-align: center;
}

.Luang /*Le texte qui est sur l'image*/
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family:Susanna;
	text-transform:uppercase;
	font-size:6em;
	font-weight:bold;
	color:white;
}

/*Propriétés des images*/					

img 
{
    max-width: 100%;
    height: auto;
}

    
#img1
{
    float: left;
}
    
#img2
{
    float: right;
    height: 349px;
}

#img3
{
    float: left;
}
#img1,#img3
{
	height:350px;
	position:relative;
}

#img4
{
    float: right;
    /* height: 350px; */
    width: 515px;
}

#ligne_coupure
{
	width:200px;
}

/*Tous les paragraphes*/

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
	color:  ;
}

/*Propriétés des différents blocs qui occupent la place du site*/

.bloc_text, .espace, .first_boite, .image_line, div, .bloc_image
{
	display:block;
}

}

@media (min-width: 1844px) and (max-width: 1844px) {

body
{
	width:100%;
	margin:0;


} 

#h1_first 
{
	font-family:Susanna;
	margin-top:40px;
	margin-bottom:auto;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_first
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*Bloc présentation de l'agence*/											

.bloc_intro 
{
margin-right: auto;
margin-top:50px;
margin-left: auto;
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
width: 55%;
clear: both;
position: relative;
overflow: hidden;
}	


.bloc_text
{
	margin:auto;
	padding-left: 15px;
    padding-right: 15px;
    float:right;
    position:relative;

}

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
}

#map
{
	margin:0;
	width:290px;
	float:left;
}

/*SECOND BLOC*/

.second_boite
{
	width: 65%;
    overflow: hidden;
    padding-top:20px;
	margin-top:50px;
	margin-right: auto;
    margin-left: auto;
}

.all_images
{
	position: relative;
    text-align: center;
    color: white;
}

.ile_kophiphi
{
	position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
	font-weight:bold;
	color:white;
    top: 130%;
	left: 12%;
}

.riziere_vietnam{
    position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
    top: 25%;
    left: 10%;
	font-weight:bold;
	color:white;
}

.montagne_tibet
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
	top: 40%;
    left: 50%;
	color:white;
	font-weight:bold;
}

.miyajima_japon
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
    top: 130%;
	left: 59%;
	color:white;
	font-weight:bold;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover{
	transition:0.5s;
	opacity:0.4;
}

#h1_second
{
	font-family:Susanna;
	font-weight:;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}
	
#h2_second
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*3ME BLOC */
	
#h1_third
{
	font-family:Susanna;
	font-weight:px;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_third
{
		font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

.third_bloc
{
	margin-top:50px;
	margin-bottom:50px;
}


#luang_img
{
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	height: 680px;
}

#luang_img:hover
{
	transition:0.5s;
	opacity:0.5;
}

.boite_exposition {
    position: relative; 
	text-align: center;
}

.Luang /*Le texte qui est sur l'image*/
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family:Susanna;
	text-transform:uppercase;
	font-size:6em;
	font-weight:bold;
	color:white;
}

/*Propriétés des images*/					

img 
{
    max-width: 100%;
    height: auto;
}

    
#img1
{
    float: left;
}
#img3
{
    float: left;
}
#img1,#img2,#img3
{
	height:350px;
	position:relative;
}

#img4
{
    float: right;
    /* height: 350px; */
    width: 515px;
}

#ligne_coupure
{
	width:200px;
}

/*Tous les paragraphes*/

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
	color:  ;
}

/*Propriétés des différents blocs qui occupent la place du site*/

.bloc_text, .espace, .first_boite, .image_line, div, .bloc_image
{
	display:block;
}

}

@media (min-width: 1845px) and (max-width: 1849px) {
body
{
	width:100%;
	margin:0;


} 

#h1_first 
{
	font-family:Susanna;
	margin-top:40px;
	margin-bottom:auto;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_first
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*Bloc présentation de l'agence*/											

.bloc_intro 
{
margin-right: auto;
margin-top:50px;
margin-left: auto;
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
width: 55%;
clear: both;
position: relative;
overflow: hidden;
}	


.bloc_text
{
	margin:auto;
	padding-left: 15px;
    padding-right: 15px;
    float:right;
    position:relative;

}

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
}

#map
{
	margin:0;
	width:290px;
	float:left;
}

/*SECOND BLOC*/

.second_boite
{
	width: 65%;
    overflow: hidden;
    padding-top:20px;
	margin-top:50px;
	margin-right: auto;
    margin-left: auto;
}

.all_images
{
	position: relative;
    text-align: center;
    color: white;
}

.ile_kophiphi
{
	position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
	font-weight:bold;
	color:white;
	top:65%;
	left: 12%;
}

.riziere_vietnam{
    position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
    top: 15%;
    left: 12%;
	font-weight:bold;
	color:white;
}

.montagne_tibet
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
	top: 20%;
    left: 50%;
	color:white;
	font-weight:bold;
}

.miyajima_japon
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
    top:65%;
	left: 59%;
	color:white;
	font-weight:bold;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover{
	transition:0.5s;
	opacity:0.4;
}

#h1_second
{
	font-family:Susanna;
	font-weight:;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}
	
#h2_second
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*3ME BLOC */
	
#h1_third
{
	font-family:Susanna;
	font-weight:px;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_third
{
		font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

.third_bloc
{
	margin-top:50px;
	margin-bottom:50px;
}


#luang_img
{
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	height: 680px;
}

#luang_img:hover
{
	transition:0.5s;
	opacity:0.5;
}

.boite_exposition {
    position: relative; 
	text-align: center;
}

.Luang /*Le texte qui est sur l'image*/
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family:Susanna;
	text-transform:uppercase;
	font-size:6em;
	font-weight:bold;
	color:white;
}

/*Propriétés des images*/					

img 
{
    max-width: 100%;
    height: auto;
}

    
#img1
{
    float: left;
}
#img3
{
    float: left;
}
#img1,#img2,#img3
{
	height:350px;
	position:relative;
}

#img4
{
	width: 518.313;
	height:350;
}

#ligne_coupure
{
	width:200px;
}

/*Tous les paragraphes*/

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
	color:  ;
}

/*Propriétés des différents blocs qui occupent la place du site*/

.bloc_text, .espace, .first_boite, .image_line, div, .bloc_image
{
	display:block;
}
}

@media (min-width: 1850px) and (max-width: 1851px) {
    
body
{
	width:100%;
	margin:0;


} 

#h1_first 
{
	font-family:Susanna;
	margin-top:40px;
	margin-bottom:auto;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_first
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*Bloc présentation de l'agence*/											

.bloc_intro 
{
margin-right: auto;
margin-top:50px;
margin-left: auto;
padding-left:20px;
padding-right:20px;
padding-top:20px;
padding-bottom:20px;
width: 55%;
clear: both;
position: relative;
overflow: hidden;
}	


.bloc_text
{
	margin:auto;
	padding-left: 15px;
    padding-right: 15px;
    float:right;
    position:relative;

}

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
}

#map
{
	margin:0;
	width:290px;
	float:left;
}

/*SECOND BLOC*/

.second_boite
{
	width: 65%;
    overflow: hidden;
    padding-top:20px;
	margin-top:50px;
	margin-right: auto;
    margin-left: auto;
}

.all_images
{
	position: relative;
    text-align: center;
    color: white;
}

.ile_kophiphi
{
	position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
	font-weight:bold;
	color:white;
	top:65%;
	left: 12%;
}

.riziere_vietnam{
    position: absolute;
	font-family:Susanna;
	font-size:3.5em;
	text-transform:uppercase;
    top: 15%;
    left: 12%;
	font-weight:bold;
	color:white;
}

.montagne_tibet
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
	top: 20%;
    left: 50%;
	color:white;
	font-weight:bold;
}

.miyajima_japon
{
	position: absolute;
    font-family: Susanna;
    font-size: 3.5em;
    text-transform: uppercase;
    top:65%;
	left: 59%;
	color:white;
	font-weight:bold;
}

#img1:hover, #img2:hover, #img3:hover, #img4:hover{
	transition:0.5s;
	opacity:0.4;
}

#h1_second
{
	font-family:Susanna;
	font-weight:;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}
	
#h2_second
{
	font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

/*3ME BLOC */
	
#h1_third
{
	font-family:Susanna;
	font-weight:px;
	margin-top:80px;
	margin-bottom:0px;
	font-size: 56px;
    line-height: 40px;
    color: #d79100;
    text-transform: uppercase;
    letter-spacing: 2px;
	text-align:center;
	position:relative;
}

#h2_third
{
		font-family:Calibri Light;
	color:grey;
    font-size: 23px;
    letter-spacing: 2px;
	text-align:center;	
	text-transform: uppercase;
	position:relative;
}

.third_bloc
{
	margin-top:50px;
	margin-bottom:50px;
}


#luang_img
{
	position:relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	height: 680px;
}

#luang_img:hover
{
	transition:0.5s;
	opacity:0.5;
}

.boite_exposition {
    position: relative; 
	text-align: center;
}

.Luang /*Le texte qui est sur l'image*/
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family:Susanna;
	text-transform:uppercase;
	font-size:6em;
	font-weight:bold;
	color:white;
}

/*Propriétés des images*/					

img 
{
    max-width: 100%;
    height: auto;
}

#img3
{
    float: left;
}
#img1,#img2,#img3
{
	height:350px;
	position:relative;
}

#img4
{
	width: 518.313;
	height:350;
}

#ligne_coupure
{
	width:200px;
}

/*Tous les paragraphes*/

p                                                   
{
	font-family:Calibri Light;
	font-size:20px;
	color:  ;
}

/*Propriétés des différents blocs qui occupent la place du site*/

.bloc_text, .espace, .first_boite, .image_line, div, .bloc_image
{
	display:block;
}
}
/*END CSS RYAN*/